{% extends 'base.html' %}
{% block content %}
<div class="d-flex  align-items-center justify-content-center  overflow-auto h-75 w-100"  >
<div class="bg-secondary w-50 h-50 d-flex  align-items-center justify-content-center  rounded-3 border border-light border-3" style="box-shadow: inset 0px 0px 30px 10px rgb(231, 231, 236);">
<div class="d-flex ">
    <form action="" method="POST" class="me-5">
        {{form.csrf_token}}
        {{form.phone.label(class='form-control-label mb-2 text-light')}}
        {{form.phone(class='form-control')}}
        <div class="d-grid gap-2">
        <input type="submit" value="Rrgister" class="btn btn-outline-info border border-2 border-info mt-5 ">
    </div>
    </form>

    <form action="" method="POST" class="ms-5">
        {{email_form.csrf_token}}
        {{email_form.email.label(class='form-control-label mb-2 text-light')}}
        {{email_form.email(class='form-control')}}
        <div class="d-grid gap-2">
        <input type="submit" value="Rrgister" class="btn btn-outline-info border border-2 border-info mt-5 ">
    </div>
    </form>

</div>
</div>
</div>
{% endblock %}