{% extends 'base.html' %}

{% block title %} Reza Safarkhani{% endblock%}

{% block content %}

   
<div class=" d-flex justify-content-center accordion mt-3" style="height:85%" >
  
 
  
  <ul class="list-group  w-50 text-center card card-header overflow-auto rounded-2" >
    <div class="card fw-3">
      <div class="card-header bg-success fs-3 fw-bolder text-light shadow"> Reza Safarkhani</div>
      <div class="card-body bg-info fw-bold fs-5"><p>RezaSafarkhani@outlook.com</p>
      <p>07383365533</p>
      <p>Lonon <span class="badge bg-danger">NW6</span></p>
      </div>
    </div>
      <li class="list-group-item  fs-5 text-danger bg-info" >
        As a WebDeveloper I can Work by
        <ul class="list-group ">
          <li class="list-group-item">HTML, CSS</li>
          <li class="list-group-item">JavaScript</li>
          <li class="list-group-item">Bootsrap</li>
          <li class="list-group-item ">ReactJS</li>
          <li class="list-group-item ">Python <span class="badge bg-success mx-3" >Django</span><span class="badge bg-success">Flack</span>
    
          
          
        </ul>
      </li>

      
      <li class="list-group-item fs-5 text-danger bg-info">
       I have Kownlage on
        <ul class="list-group">
          <li class="list-group-item">Computer Architectuer</li>
          <li class="list-group-item">Machine laguage (Assemblly)</li>
          <li class="list-group-item">Algoritm Obtimization</li>
          <li class="list-group-item">Data Structure</li>
          <li class="list-group-item ">
            Network and setup network for small bussiness (subnetting , ...)
          </li>
          <li class="list-group-item">Machine Learning (NN)</li>
          <li class="list-group-item">
            Obtimization algoritms (Evolution Strategy
        ,Ant,Bee, competitive and  Genetic Algoritm)
          </li>
          <li class="list-group-item">Image Processing</li>
          <li class="list-group-item">SQL DML</li>

        </ul>
      </li>
     
      <li class="list-group-item fs-5 text-danger bg-info">
        I have exprience By program languages like
        <ul class="list-group">
          <li class="list-group-item">C#</li>
          <li class="list-group-item">VB.Net</li>
          <li class="list-group-item">Java</li>
          <li class="list-group-item">Prolog</li>
          <li class="list-group-item">Matlab</li>
        </ul>
      </li>
      <li class="list-group-item bg-primary fs-5 text-light ">
        I am realy fast learner. I have a ablility to adopt myself by a new
        things
      </li>
      <li class="list-group-item bg-primary fs-5 text-light ">I have good ability to solve problems</li>
      <li class="list-group-item bg-primary fs-5 text-light ">
        if you're looking for a developer to add to your team, I'd love to
        hear from you!
      </li>

     
    </ul>
</div>



{% endblock %}
