{% extends 'base.html' %}
{% block content %}
<div class="d-flex  align-items-center justify-content-center  overflow-auto mt-2 w-100 " style="height:90%" >
<div class="bg-secondary w-75 h-100 p-5 overflow-auto rounded-3 border border-light border-3" style="box-shadow: inset 0px 0px 30px 10px rgb(117, 117, 246);">

  
    {% for user in pages.items %}

    <a href="{{url_for('/users.user', id=user.id)}}" class="link-underline-light">
    <div class="card">
       
        <div class="card-body d-flex justify-content-between fs-5 fw-bolder text-primary">
            {{user.username}}
           <div>
        
        </div>
        </div>
    </div>
</a>

    {% endfor %}
    
    <div class="d-flex justify-content-center">
        <nav aria-label="..." class="mt-3 ">
            <ul class="pagination">
              <li class="page-item {% if not pages.has_prev %} disabled {% endif %}">
                <a class="page-link" href="/?page={{pages.prev_num}}">Previous</a>
              </li>
              {% for page in pages.iter_pages()%}
              <li class="page-item {% if page==pages.page %} active {% endif %}"  aria-current="page">
                <a class="page-link" href="/?page={{page}}">{{page}}</a>
              </li>
              {% endfor %}
              <li class="page-item {% if not pages.has_next %}disabled {% endif %}">
                <a class="page-link" href="/?page={{pages.next_num}}">Next</a>
              </li>
            </ul>
          </nav>
        </div>


    
</div>
</div>
{% endblock %}